@media screen and (min-width: 1025px) {
  body {
    background-image: url("imagens/fundo-azul.jpg");
  }

  #div {
    margin-top: 40pt;
    width: 100%;
    height: 400pt;
    display: grid;
    place-items: center;
  }

  #jogoA {
    width: 400pt;
    height: 100pt;
    font-size: 20pt;
    border-radius: 12pt;
    border: 0pt;
    background-color: lightblue;
  }

  #jogoB {
    width: 440pt;
    height: 100pt;
    font-size: 20pt;
    border-radius: 12pt;
    border: 0pt;
    background-color: lightblue;
  }

  input {
    width: 400pt;
    height: 100pt;
    font-size: 20pt;
    border-radius: 12pt;
    border: 0pt;
    background-color: lightblue;
  }

  .hide {
    opacity: 0;
    pointer-events: none;
  }

  #aviso{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 15;
    background-image: url("imagens/fundo-azul.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 575px) and (max-width: 1024px){
  #aviso{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 15;
    background-image: url("imagens/fundo-azul.jpg");
  }
  
  div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
  }
}

@media screen and (max-width: 574px) {
  body {
    background-image: url("imagens/fundo-azul.jpg");
  }

    form{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }  
  
    #div{
      width: 95%;
      height: 450pt;
      display: grid;
      place-items: center;
    }

    #jogoA {
      width: 90%;
      height: 70pt;
      font-size: 15pt;
      border-radius: 12pt;
      border: 0pt;
      background-color: lightblue;
    }

    #jogoB {
      width: 100%;
      height: 70pt;
      font-size: 15pt;
      border-radius: 12pt;
      border: 0pt;
      background-color: lightblue;
    }

    .input {
      width: 170%;
      transform: translate(-18%, -18%);
      height: 70pt;
      font-size: 15pt;
      border-radius: 12pt;
      border: 0pt;
      background-color: lightblue;
    }
   .hide {
    opacity: 0;
    pointer-events: none;
  }

  #aviso{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 15;
    background-image: url("imagens/fundo-azul.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
