@media screen and (min-width: 1025px){
body {
  background-image: url("../imagens/fundo-azul.jpg");
}

  #resp {
    margin-top: 30pt;
    font-size: 60pt;
    width: 90pt;
  }

  #DivA, #DivB, #DivC, #igual {
    margin-top: 30pt;
    font-size: 60pt;
    float: left;
  }

  .placar {
    margin-left: 50pt;
    font-size: 20pt;
  }

  #DivA {
    margin-left: 170pt;
  }


  #emb {
    width: 298pt;
    height: 70pt;
    font-size: 15pt;
    border-radius: 12pt;
    border: 0pt;
    background-color: lightblue;
    margin-left: 350pt;
  }

  #equacao {
    padding-top: 10pt;
    margin-top: 40pt;
    margin-bottom: 10pt;
    margin-left: 200pt;
    width: 600pt;
    background-color: white;
    border-radius: 12pt;
    height: 300pt;
  }

  #conf{
    margin-left: 350pt;
  }

  #conf,
  #pular {
    width: 140pt;
    height: 70pt;
    font-size: 15pt;
    border-radius: 12pt;
    border: 0pt;
    background-color: lightblue;
  }


  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    border: 2px solid black;
    border-radius: 10pt;
    width: 900pt;
    height: 400pt;
    padding-left: 10pt;
    padding-right: 10pt;
  }

  #fechar {
    border: 2px solid black;
    background-color: white;
    border-radius: 5pt;
    height: 20pt;
    width: 50pt;
  }

  #modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 400pt;
  }

  #modal-body{
      font-size: 15pt;
    }

  .hide {
    opacity: 0;
    pointer-events: none;
  }

  #congrats{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
  }

  #congrats-body{
    margin-top: -35pt;
    display: grid;
    place-items: center;
  }
}  

@media screen and (max-width: 574px) {
  body {
    background-image: url("../imagens/fundo-azul.jpg");
  }

  #resp {
    margin-top: 30pt;
    font-size: 40pt;
    width: 90pt;
  }

  #DivA,
  #DivB,
  #DivC,
  #igual {
    margin-top: 30pt;
    font-size: 40pt;
    float: left;
  }

  .placar {
    margin-top: 10pt;
    margin-left: 10pt;
    font-size: 15pt;
  }

  #DivA {
    margin-left: 50pt;
  }


  #emb {
    width: 298pt;
    height: 70pt;
    font-size: 15pt;
    border-radius: 12pt;
    border: 0pt;
    background-color: lightblue;
  }

  #equacao {
    padding-top: 15pt;
    margin-bottom: 10pt;
    width: 298pt;
    background-color: white;
    border-radius: 12pt;
    height: 350pt;
  }

  #conf,
  #pular {
    width: 140pt;
    height: 70pt;
    font-size: 15pt;
    border-radius: 12pt;
    border: 0pt;
    background-color: lightblue;
  }


  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    border: 2px solid black;
    border-radius: 10pt;
    width: 280pt;
    height: 500pt;
    padding-left: 10pt;
    padding-right: 10pt;
  }

  #fechar {
    border: 2px solid black;
    background-color: white;
    border-radius: 5pt;
    height: 20pt;
    width: 50pt;
  }

  #modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hide {
    opacity: 0;
    pointer-events: none;
  }

  #congrats{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
  }

  #congrats-body{
    margin-top: -15pt;
    display: grid;
    place-items: center;
  }

  img{
   width: 100%;
  }
  #trof{
    width: 60%;
  }
}